* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  border: none;
  height: 30px;
  padding: 0 15px;
}

.fas {
  color: #FFFFFF;
}

.fa-bars {
  display: none !important;
}

.orange {
  color: #F0A83E;
  font-size: 50px;
}

.logo-container {
  font-weight: bolder;
}
.logo-container .logo-footer {
  color: #F0A83E;
}

.nav-lang {
  background-color: #222222;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-lang span {
  width: 50%;
  margin-left: 100px;
}
.nav-lang ul {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 50px;
  margin-right: 30px;
}
.nav-lang ul li {
  cursor: pointer;
}

.first-nav {
  background-color: #F0A83E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.first-nav .logo {
  color: #FFFFFF;
}
.first-nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 50%;
}

.banner {
  background-image: url("https://raw.githubusercontent.com/sgcm14/petshop-maquetado/master/img/portada.png");
  background-position: center;
  background-size: cover;
  height: 350px;
  display: flex;
}
.banner .content-left {
  width: 70%;
}
.banner .content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.banner .content-right button {
  background-color: #F0A83E;
  border: none;
  padding: 15px;
  border-radius: 5px;
  color: #FFFFFF;
}
.banner .content-right h2 {
  background-color: #FFFFFF;
  border-radius: 5px;
}
.banner .content-right h2,
.banner .content-right p {
  color: #3C2313;
  padding: 8px;
  font-weight: normal;
}

.nav-star .header-nav-star {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
}
.nav-star .header-nav-star h1 {
  color: #3C2313;
}
.nav-star .header-nav-star ul {
  display: flex;
  gap: 10px;
}
.nav-star .header-nav-star ul a,
.nav-star .header-nav-star ul span {
  color: #8A8787;
}
.nav-star .header-nav-star ul a {
  font-size: 15px;
}

.content-nav-star {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.content-nav-star article {
  background-color: #FBFAF6;
  border-radius: 5px;
}
.content-nav-star article a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-nav-star article a h5 {
  margin: 0px;
  color: #3C2313;
}
.content-nav-star article a p {
  color: #F0A83E;
  font-weight: bolder;
  font-size: 13px;
}

.form-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.form-container form {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  justify-content: center;
}
.form-container form h3 {
  color: #3C2313;
}
.form-container form input {
  background-color: #3C2313;
  border-radius: 10px;
}
.form-container form input::-moz-placeholder {
  color: #FFFFFF;
}
.form-container form input::placeholder {
  color: #FFFFFF;
}
.form-container form .container-buttons {
  margin-top: 30px;
}
.form-container form .container-buttons button {
  color: #FFFFFF;
}
.form-container form .container-buttons .reset {
  background-color: #8A8787;
}
.form-container form .container-buttons .send {
  background-color: #F0A83E;
}

form button {
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
}

.suscribe {
  background-color: #F0A83E;
  display: flex;
  padding: 0 20px;
}
.suscribe .suscribe-text {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  width: 50%;
  gap: 10px;
}
.suscribe .form-suscribe {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  gap: 10px;
}
.suscribe .form-suscribe button {
  background-color: #3C2313;
  color: #FFFFFF;
}
.suscribe .form-suscribe input {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.contact {
  background-color: #3C2313;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.contact .content-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact .content-contact article {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.contact .content-contact article div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact .content-contact article h4 {
  margin: 0px;
}
.contact .content-contact article span {
  color: #8A8787;
  font-size: 10px;
}

.copyright {
  background-color: #222222;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.copyright p {
  margin: 0px;
}
.copyright button {
  border-radius: 5px;
  border: none;
}

@media (max-width: 500px) {
  .nav-lang {
    display: none;
  }
  .first-nav ul {
    display: none;
  }
  .first-nav .fa-bars {
    display: block !important;
  }
  .banner {
    background-position: initial;
  }
  .banner .content-left {
    display: none;
  }
  .banner .content-right {
    width: 100% !important;
    align-items: flex-end !important;
    margin-right: 20px;
  }
  .banner .content-right button {
    margin-right: 15px;
  }
  .nav-star h1 {
    padding: 0 100px;
    text-align: center;
  }
  .nav-star .content-nav-star {
    flex-direction: column;
  }
  .form-container .container-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  .form-container .container-buttons button {
    width: 48%;
  }
  .suscribe {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .suscribe .suscribe-text,
  .suscribe .form-suscribe {
    width: auto;
  }
  .suscribe .form-suscribe {
    justify-content: flex-end;
  }
  .contact {
    flex-direction: column;
  }
  .contact .content-contact {
    order: 2;
    margin-top: 10px;
  }
}/*# sourceMappingURL=styles.css.map */